Lineage II - Elite H5 Project - Compiled/Beta/game/data/xsd/gabriel/phantom/buffs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="buff" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="classId" type="xs:string"></xs:attribute>
						<xs:attribute name="buffs" type="xs:string"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>