Lineage II - Elite H5 Project - Compiled/LoginServe/game/config/zeus/xsd/zeus_advanced_class_master.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="config">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="set" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="reward" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="set">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id" use="optional"/>
                      <xs:attribute type="xs:int" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="occupation_index" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="armor" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="set" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="ids" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="occupation_index" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="weapon" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="set" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)  Armor id to Give (ID,QUANTYT;ID,QUANTITY)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="ids" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="occupation_index" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>